/* Navbar container */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 10;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.spacer{
  height: 100px;
}
/* Page content */


.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
body, html {
  height: 100%;
}


#container1 {
  background-image: url("assets/images/marco-bonomo-89638-unsplash.jpg");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#firstSection{
  height: 400px;
  background: white;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
/* .container-fluid{
  width: 75%;
  height: 200px;
} */
.space{
  height: 150px;
}
.space1{
  height: 30px;
}

#container2 {
  background-image: url("assets/images/megan-hodges-96122-unsplash.jpg");
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





.card-horizontal{
   width: 50%;
   margin: 0 auto;
}

.vfImage{
  border-radius: 25px;
  height:300px;
}

.portfolio{
  height: 200px;
}
.card-body{
  background:#e0dede;
  opacity: .9;
  
}
.foodSolutions {
  padding-top: 70px;
  height: 300px;
}

.portcard{
  border-radius: 25px;
  padding: 20px;
  border: 0px;
  height: 500px;

  
}

.portfolio-image{
  height: 200px;
}

.Non-profit {
  height: 350px;
}

.port-item{
  height: 200px;
  width: 200px;
}

#aboutMe{
  top: 0;
left: 0;
font-size: 16pt;
width: 100%;
height: 100%;
}
.hexa, .hexa div {
  
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 1000px;
  height: 300px;
}
.hexa {
  width: 380px;
  height: 300px;
}
.hexa div {
  width: 100%;
  height: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}
/* .space3{
  height: 200px;
} */
.typewriter {
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#aboutMeTitle {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

.aboutMeParagraph{
  width: 75%;
  margin: 0 auto;
  background:white;
  opacity: .8;
  padding: 20px;
 
}

.progress {
  margin: 20px;
}

h5{
  margin-left: 30px;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}
a { 
  color: black;
  text-decoration: none;
}

a :hover{
  color: black;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

.portfolioSpace{
  height: 250px;
}

.welcome {
  opacity: 1;
  border: #f9f9f9;
  font-family: 'Raleway', sans-serif;
  padding:  10px;
  text-align: center;
  margin: 0 auto;  
}

.span{
  float: left;
 
  width: 100%;
}

.itemTitle{
  height: 20px;
  overflow: hidden;
}

.homeSpacer{
  height: 20px;
}

.linkedInLogo{
  height: 64px;
  width: 64px;
}

.logo{
  padding: 20px;
}

.welcome{
  width: 30%;
}

.portfolio-card{
  margin: 10px;
} 

#htmlAndCssandJavascript{
  margin-left: 8%
}
.marginSpace{
  margin-left:8%;
}

.portfolioContainer{
background-color: rgb(250, 250, 250);
}

.initial-button{
  height: 60px;
  width:98px;
  background-color: grey;
  margin: 5px;
}

.back-to-top{
  height:100px;
}

@media only screen and (max-width: 400px){
  .space3{
    width: 350px;
  }
 
}